---
- name: Install borg
  ansible.builtin.package:
    name: "{{ personal_packages.common + personal_packages[ansible_facts['os_family']] }}"
    state: present
  become: true
  when: ansible_facts['pkg_mgr'] != "atomic_container"

- name: Install uv tools
  ansible.builtin.command:
    cmd: uv tool install {{ item }}
  register: personal_uv
  loop:
    - borgmatic
    - "yt-dlp[default]"
  changed_when:
    - '"is already installed" not in personal_uv.stderr'

- name: Copy config files and scripts
  ansible.builtin.include_tasks: tasks/copy_filetree.yaml
  loop:
    - config
  tags:
    - dotfiles

- name: Create borgmatic configs directory
  ansible.builtin.file:
    path: ~/.config/borgmatic.d/
    state: directory
    mode: "0755"

- name: Template borgmatic configs
  ansible.builtin.template:
    src: rsync.net.yaml.j2
    dest: ~/.config/borgmatic.d/rsync.net.yaml
    mode: "0644"

- name: Install flatpaks
  community.general.flatpak:
    name:
      - com.discordapp.Discord
      - com.valvesoftware.Steam
      - dev.goats.xivlauncher
      - org.keepassxc.KeePassXC
      - org.signal.Signal
    method: user
    state: present

- name: Ensure user services dir exists
  ansible.builtin.file:
    path: ~/.config/systemd/user/
    mode: u=rwx,g=rx,o=rx
    state: directory

- name: Install user services
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: ~/.config/systemd/user/
    mode: preserve
  loop: "{{ query('fileglob', 'services/*') }}"
  notify: Reload systemd

- name: Ensure services are available
  ansible.builtin.meta: flush_handlers

- name: Enable services
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: true
    scope: user
  loop:
    - borgmatic.timer
