---
- name: Refresh public keys
  ansible.posix.authorized_key:
    user: "{{ ansible_user }}"
    key: https://github.com/qalthos.keys

- name: Transfer dotfiles
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: ~/.{{ item }}
    mode: preserve
  loop:
    - bashrc
    - gitconfig
    - profile
    - zshrc
    - zprofile
  tags:
    - dotfiles

- name: Copy config files
  ansible.builtin.include_tasks: tasks/copy_filetree.yaml
  loop:
    - config
    - zsh
  tags:
    - dotfiles

- name: Enable en_US.UTF-8 locale
  community.general.locale_gen:
    name: en_US.UTF-8
    state: present
  become: true
  when: ansible_facts['os_family'] != 'RedHat'

- name: Install required environment tools
  ansible.builtin.package:
    name: "{{ base_packages.common + base_packages[ansible_facts['os_family']] }}"
    state: present
  become: true
  when: ansible_facts['pkg_mgr'] != "atomic_container"

- name: Overlay required packages
  community.general.rpm_ostree_pkg:
    name:
        - kitty
        - neovim
        - uv
    apply_live: true
  become: true
  when: ansible_facts['pkg_mgr'] == "atomic_container"

- name: Install mise  # noqa: command-instead-of-module
  ansible.builtin.command:
    cmd: "curl https://mise.run | sh"
    creates: ~/.local/bin/mise

- name: Ensure mise tools are loaded
  ansible.builtin.command:
    cmd: ~/.local/bin/mise install
  register: base_mise
  changed_when: '"all tools are installed" not in base_mise.stderr'

- name: Install uv tools
  ansible.builtin.command:
    cmd: uv tool install {{ item }}
  register: base_uv
  loop:
    - pre-commit
    - ruff
    - tombi
    - ty
  changed_when:
    - '"is already installed" not in base_uv.stderr'

- name: Install fasd
  ansible.builtin.include_tasks: tasks/download_latest_release.yaml
  loop:
    - repo: whjvenyl/fasd
      match: fasd

- name: Set shell to zsh
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    shell: /usr/bin/zsh
  become: true
