{
  // "layer": "top", // Waybar at top layer
  // "position": "bottom", // Waybar position (top|bottom|left|right)
  "height": 24, // Waybar height (to be removed for auto height)
  // "width": 1280, // Waybar width
  "spacing": 2, // Gaps between modules (4px)
  // Choose the order of the modules
  "modules-left": ["sway/workspaces", "sway/mode"],
  "modules-center": ["sway/window"],
  "modules-right": [
    "tray",
    "custom/media",
    "group/power",
    "backlight",
    "idle_inhibitor",
    "custom/packages",
    "custom/flatpak",
    "custom/notification",
    "group/audio",
    "privacy",
    "custom/weather",
    "clock"
  ],
  // Groups
  "group/power": {
    "drawer": {},
    "orientation": "horizontal",
    "modules": [
      "battery",
      "power-profiles-daemon",
    ]
  },
  "group/audio": {
    "drawer": {},
    "orientation": "horizontal",
    "modules": [
      "wireplumber#sink",
      "wireplumber#source"
    ]
  },
  // Modules configuration
  "sway/workspaces": {
    "disable-scroll": true,
    "all-outputs": true,
    "format": "{icon}",
    "format-icons": {
      "discord": "",
      "calendar": "",
      "mail": "",
      "matrix": "",
      "signal": "",
      "slack": "",
      "steam": "",
      "game": "",
    },
  },
  "keyboard-state": {
    "numlock": true,
    "capslock": true,
    "format": "{name} {icon}",
    "format-icons": {
      "locked": "",
      "unlocked": ""
    }
  },
  "sway/mode": {
    "format": "<span style=\"italic\">{}</span>"
  },
  "sway/window": {
	  "swap-icon-label": false,
  },
  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": "",
      "deactivated": ""
    }
  },
  "custom/media": {
    "exec": "playerctl -a metadata --format '{\"text\": \"{% raw %}{{playerName}}\", \"tooltip\": \"{{markup_escape(title)}}\", \"alt\": \"{{status}}\", \"class\": \"{{status}}\"}{% endraw %}' -F",
    "format": "{icon} {text}",
    "format-icons": {
      "Paused": "󰎈",
      "Playing": ""
    },
    "on-click": "playerctl play-pause",
    "return-type": "json"
  },
  "tray": {
    // "icon-size": 21,
    "spacing": 10
  },
  "clock": {
    // "timezone": "America/New_York",
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
    "format-alt": "{:%Y-%m-%d}"
  },
  "backlight": {
    // "device": "acpi_video1",
    "format": "{percent}% {icon}",
    "format-icons": ["", ""]
  },
  "battery": {
    "states": {
      // "good": 95,
      "warning": 30,
      "critical": 15
    },
    "format": "{capacity}% {icon}",
    "format-charging": "{capacity}% ",
    "format-plugged": "{capacity}% ",
    "format-alt": "{time} {icon}",
    // "format-good": "", // An empty format will hide the module
    // "format-full": "",
    "format-icons": ["", "", "", "", ""]
  },
  "battery#bat2": {
    "bat": "BAT2"
  },
  "network": {
    // "interface": "wlp2*", // (Optional) To force the use of this interface
    "format-wifi": "{essid} ({signalStrength}%) ",
    "format-ethernet": "{ipaddr}/{cidr} ",
    "tooltip-format": "{ifname} via {gwaddr} ",
    "format-linked": "{ifname} (No IP) ",
    "format-disconnected": "Disconnected ⚠",
    "format-alt": "{ifname}: {ipaddr}/{cidr}"
  },
  "power-profiles-daemon": {
    "format": "{icon}",
    "format-icons": {
      "default": "",
      "performance": "<span color='#B37F34'><small></small></span>",
      "balanced": "<span><small> </small></span>",
      "power-saver": "<span color='#a6e3a1'><small></small></span>"
    }
  },
  "wireplumber#sink": {
    "format": "{volume}% {icon}",
    "format-bluetooth": "{volume}% {icon}",
    "format-bluetooth-muted": " {icon}",
    "format-muted": "",
    "format-icons": ["", "", ""],
    "max-volume": 100,
    "on-click": "flatpak run com.saivert.pwvucontrol",
    "on-click-right": "flatpak run org.pipewire.Helvum",
    "scroll-step": 5
  },
  "wireplumber#source": {
    "node-type": "Audio/Source",
    "format": "{volume}% ",
    "format-muted": ""
  },
  "custom/notification": {
    "tooltip": false,
    "format": "{icon} {text}",
    "format-icons": {
      "notification": "<span foreground='red'><sup></sup></span>",
      "none": "",
      "dnd-notification": "<span foreground='red'><sup></sup></span>",
      "dnd-none": "",
      "inhibited-notification": "<span foreground='red'><sup></sup></span>",
      "inhibited-none": "",
      "dnd-inhibited-notification": "<span foreground='red'><sup></sup></span>",
      "dnd-inhibited-none": ""
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "hide-empty-text": true,
    "escape": true
  },
{% if ansible_facts["os_family"] == "Archlinux" %}
  "custom/packages": {
    "format": "| {} ",
    "exec": "checkupdates | wc -l | sed 's/^0$//'",
    "on-click": "kitty yay -Syu",
    "tooltip": false,
    "hide-empty-text": true,
    "interval": 3600
  },
{% elif ansible_facts["os_family"] == "RedHat" %}
  "custom/packages": {
    "format": "  {}",
    "exec": "dnf check-update -q | wc -l | sed 's/^0$//'",
    "on-click": "kitty sudo dnf upgrade",
    "tooltip": false,
    "hide-empty-text": true,
    "interval": 3600
  },
{% endif %}
  "custom/flatpak": {
    "format": "📦 {}",
    "exec": "flatpak remote-ls --updates | wc -l | sed 's/^0$//'",
    "on-click": "kitty flatpak update",
    "tooltip": false,
    "hide-empty-text": true,
    "interval": 3600
  },
  "custom/weather": {
    "return-type": "json",
    "tooltip": true,
    "interval": 300,
    "exec": "cat ~/.cache/weather.json"
  }
}
