conky.config = {
    update_interval = 1,
    update_interval_on_battery = 5,
    total_run_times = 0,

    -- Windowy options
    out_to_console = true,
    out_to_x = false,
    background = false,

    -- Use KiB/MiB/... instead of just bytes
    format_human_readable = true,
    -- Print used memory without buffers
    no_buffers = true,
    -- Display k, G, ... instead of kiB, GiB, ...
    short_units = true,

    use_spacer = 'none',
    if_up_strictness = 'address',
    pad_percents = 0,

    template9 = '${if_match ${battery_percent BAT\\1} >= 75}${else}${if_match ${battery_percent BAT\\1} >= 25}${else}${endif}${endif}${battery_percent BAT\\1}%',
};

conky.text = [[
^i(/home/nate/.local/share/icons/mem.xbm)${mem} \
# Phone battery
#${if_match "${exec adb get-state}" == "device"}\
#^i(/home/nate/.local/share/icons/usb.xbm)\
#${endif}\
{% if inventory_hostname in groups['laptop'] -%}
# Test for chaging status
${if_match "${exec cat /sys/class/power_supply/AC/online}" == "1"}\
^i(/home/nate/.local/share/icons/ac-charging.xbm)${else}\
^i(/home/nate/.local/share/icons/battery-low.xbm)${endif}\
${template9 0} ${template9 1} \
{% endif -%}
# Audio volume
^i(/home/nate/.local/share/icons/volume.xbm)\
${exec amixer get Master | egrep -o '[0-9]+%' | head -n 1} \
# Weather!
${exec cat /var/tmp/weather} | \
# Date and time
${time %a %Y-%m-%d} ${time %R}\
]];
